<div class="mb-3">
  @if (inputType === currencyInputType) {
    <label class="form-label">{{ label }}</label>
    <input
      class="form-control"
      type="text"
      [allowNegativeNumbers]="true" 
      mask="separator.2"
      thousandSeparator="."
      decimalSeparator=","
      prefix="R$ "
      [placeholder]="placeholder"
      [attr.aria-label]="label"
      [(ngModel)]="value"
      (input)="handleInputChange($event)"
    />
  }

  @if (inputType === radioInputType && radioOptions) {
    <app-auction-radio-button
      [label]="label"
      [radioOptions]="radioOptions"
      [value]="value"
      (valueChange)="handleInputChange($event)">
    </app-auction-radio-button>
  }
</div>