<section class="d-flex flex-column">
  <label class="form-label mb-2">{{ label }}</label>

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    @for (option of radioOptions; track $index) {
      <input
        id="btn-radio-{{ $index }}"
        type="radio"
        class="btn-check"
        name="btnradio"
        autocomplete="off"
        [checked]="initialValue === option.value"
        (click)="handleRadioChange(option.value)"
      />

      <label class="btn btn-outline-primary" for="btn-radio-{{ $index }}">
        {{ option.label }}
      </label>
    }
  </div>
</section>
